@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Anton, sans-serif;
}

header {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  height: 750px;
  width: 100%;
  background-image: url(/img/header-bg.jpg);
  padding: 0px 200px;
}
header a {
  color: rgb(255, 255, 255);
}
header .topHeader {
  font-style: 14px;
  padding-top: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
header .topHeader .navbar {
  display: flex;
  align-items: center;
}
header .topHeader .navbar .logoImg {
  margin-right: 65px;
}
header .topHeader .navbar .navMenu {
  letter-spacing: 0.1em;
  display: flex;
  list-style: none;
}
header .topHeader .navbar .navMenu li {
  margin-right: 40px;
  line-height: 20px;
}
header .topHeader .navbar .navMenu li:hover {
  border-bottom: 1px solid #fff;
}
header .topHeader .phone {
  justify-self: end;
  font-size: 17px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.1em;
}
header .mainHeader {
  margin-top: 215px;
}
header .mainHeader .taglineHeader span {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.1em;
}
header .mainHeader .logoTextHeader h1 {
  font-size: 100px;
  margin-top: 15px;
}
header .mainHeader .bookTicketsButton a {
  border: 1px solid rgb(255, 255, 255);
  width: 238px;
  height: 57px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .mainHeader .bookTicketsButton a:hover {
  background-color: rgba(245, 237, 237, 0.133);
}
header .mainHeader .bookTicketsButton a span {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.main {
  color: #000000;
  padding: 115px 200px;
  background-color: #E5E5E5;
}
.main h2 {
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  margin-bottom: 58px;
}
.main .contentBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 67px;
}
.main .contentBlocks div {
  min-height: 150px;
  width: 564px;
}
.main .contentBlocks p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}
.main .contentBlocks h3 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.main .contentBlocks .imgSmallContainer {
  display: flex;
}
.main .contentBlocks .imgSmallContainer img {
  width: 268px;
}
.main .contentBlocks .imgSmallContainer img:first-child {
  margin-right: 30px;
}
.main .contentBlocks .imgBigContainer {
  width: 564px;
  height: auto;
}