//Імпортуємо шрифти і стилі обнулення
@import "_nullifying";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$HeaderColor:rgb(255, 255, 255);
$MainFonts: Anton, sans-serif;
$MainContentBG:#E5E5E5; 
$MainTextColor:#000000;
body{
    font-family:$MainFonts;
    background-color: $MainContentBG;
}
header{
    text-transform: uppercase;
    color: $HeaderColor;
    height: 750px;
    width: 100%;
    background-image: url(/img/header-bg.jpg);
    padding: 0px 200px;
        a{
            color: $HeaderColor;
        }
    .topHeader{
        font-style: 14px;
        padding-top:55px ;
        display: grid;
        grid-template-columns:1fr 1fr;
        align-items: center;
        .navbar{
            display: flex;
            align-items: center;
            .logoImg{
                margin-right: 65px;
            }
            .navMenu{
                letter-spacing: 0.1em;
                display: flex;
                list-style: none;
                li{
                    margin-right: 40px;
                    line-height: 20px;
                    &:hover{
                        border-bottom: 0.1px solid #fff;
                    }
                }
            }
        }
        .phone{
            justify-self: end;
            font-size: 17px;
            line-height: 26px;
            text-align: right;
            letter-spacing: 0.1em;
        }
    }
    .mainHeader{
        margin-top: 215px;
        .taglineHeader{
            span{
                font-size: 30px;   
                line-height: 45px;
                letter-spacing: 0.1em;
            }
        }
        .logoTextHeader{
            h1{
                font-size: 100px;
                margin-top: 15px;
            }
        }
        .bookTicketsButton{
            
            a{
                border: 1px solid $HeaderColor;
                width: 238px;
                height: 57px;
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: rgba(245, 237, 237, 0.133);
                }
                span{
                    font-size: 17px;
                    line-height: 26px;
                    letter-spacing: 0.1em;
                }  
            }      
        }
    }

}
.main{
    color: $MainTextColor;
    padding:115px 200px;
    margin-bottom: 115px;
    h2{
        font-size: 50px;
        line-height: 75px;
        text-transform: uppercase;
        margin-bottom: 58px;
    }
    .contentBlocks{
        div{
            min-height: 150px;
            width: 564px;
        }
        p{
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 26px;
            text-align: justify;
        }
        h3{
            font-size: 25px;
            text-transform: uppercase;
            margin-bottom: 19px;
        }
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 67px;
        .imgSmallContainer{
            display: flex;
            img{
                width: 268px;
                &:first-child{
                    margin-right: 30px;
                   }
            }
        }
        .imgBigContainer{
            width: 564px;
            height: auto;
        }

    }
}
footer{
    display: flex;
    font-family: 'Open Sans';
    font-size: 15px;
    padding: 0px 200px 90px 200px;
    div{
        margin-right: 55px;
    }
}